@model IEnumerable<StokManagmentSystem.Models.ProductModel>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    <a href="@Url.Action("EditProductinfo", new { id = item.productcode })" class="btn btn-primary">Edit</a> |
                    <a href="@Url.Action("ViewDetails", new { id = item.productcode })" class="btn btn-info">Details</a> |
                    <a href="@Url.Action("DeleteProduct", new { id = item.productcode })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a href="@Url.Action("SaveProduct")" class="btn btn-primary">Add Product</a>
</p>
